<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
</head>

<body>
    <header>
        <div class="header">
            <div class="title">Daskys
                <span>在线便签</span>
            </div>
            <ul>
                <li class="active">全部</li>
                <li>已完成</li>
                <li class="last">正序</li>
            </ul>
            <div class="github">
                <a href="">
                    <svg class="icon icon-28" style="fill:white;">
                        <use xlink:href="#icon-github"></use>
                    </svg>
                    <p>
                        GitHub登陆
                    </p>
                </a>
            </div>
        </div>
    </header>
    <div id="content">
        <div class="note"> 
            <div class="head-note">
                <div class="time">2018年01月08日</div>
                <div class="close">
                    <svg class="icon icon-20">
                        <use xlink:href="#icon-close"></use>
                    </svg>
                </div>
            </div>
            <div class="context">
                有道学堂(现名有道精品课)是网易有道旗下的在线教育课程平台。 有道学堂(现名有道精品课)是网易有道旗下的在线教育课程平台。
            </div>
            <div class="starts">
                <svg class="icon icon-18">
                    <use xlink:href="#icon-star-blue"></use>
                </svg>
                <svg class="icon icon-18">
                    <use xlink:href="#icon-star-blue"></use>
                </svg>
                <svg class="icon icon-18">
                    <use xlink:href="#icon-star-blue"></use>
                </svg>
                <svg class="icon icon-18">
                    <use xlink:href="#icon-star-blue"></use>
                </svg>
                <svg class="icon icon-18">
                    <use xlink:href="#icon-star"></use>
                </svg>
            </div>
            <div class="finish">已完成</div>
        </div>
        <div class="note">
            <div class="head-note">
                <div class="time">2018年01月08日</div>
                <div class="close">
                    <svg class="icon icon-20">
                        <use xlink:href="#icon-close"></use>
                    </svg>
                </div>
            </div>
            <div class="context">
                有道学堂(现名有道精品课)是网易有道旗下的在线教育课程平台。 有道学堂(现名有道精品课)是网易有道旗下的在线教育课程平台。
                有道学堂(现名有道精品课)是网易有道旗下的在线教育课程平台。
            </div>
            <div class="starts">
                <svg class="icon icon-18">
                    <use xlink:href="#icon-star-blue"></use>
                </svg>
                <svg class="icon icon-18">
                    <use xlink:href="#icon-star-blue"></use>
                </svg>
                <svg class="icon icon-18">
                    <use xlink:href="#icon-star-blue"></use>
                </svg>
                <svg class="icon icon-18">
                    <use xlink:href="#icon-star-blue"></use>
                </svg>
                <svg class="icon icon-18">
                    <use xlink:href="#icon-star"></use>
                </svg>
            </div>
            <div class="finish">已完成</div>
        </div>
        <div class="note">
            <div class="head-note">
                <div class="time">2018年01月08日</div>
                <div class="close">
                    <svg class="icon icon-20">
                        <use xlink:href="#icon-close"></use>
                    </svg>
                </div>
            </div>
            <div class="context">
                有道学堂(现名有道精品课)是网易有道旗下的在线教育课程平台。 有道学堂(现名有道精品课)是网易有道旗下的在线教育课程平台。
            </div>
            <div class="starts">
                <svg class="icon icon-18">
                    <use xlink:href="#icon-star-blue"></use>
                </svg>
                <svg class="icon icon-18">
                    <use xlink:href="#icon-star-blue"></use>
                </svg>
                <svg class="icon icon-18">
                    <use xlink:href="#icon-star-blue"></use>
                </svg>
                <svg class="icon icon-18">
                    <use xlink:href="#icon-star-blue"></use>
                </svg>
                <svg class="icon icon-18">
                    <use xlink:href="#icon-star"></use>
                </svg>
            </div>
            <div class="finish">已完成</div>
        </div>
        <div class="note">
            <div class="head-note">
                <div class="time">2018年01月08日</div>
                <div class="close">
                    <svg class="icon icon-20">
                        <use xlink:href="#icon-close"></use>
                    </svg>
                </div>
            </div>
            <div class="context">
                有道学堂(现名有道精品课)是网易有道旗下的在线教育课程平台。 有道学堂(现名有道精品课)是网易有道旗下的在线教育课程平台。
                有道学堂(现名有道精品课)是网易有道旗下的在线教育课程平台。 有道学堂(现名有道精品课)是网易有道旗下的在线教育课程平台。
            </div>
            <div class="starts">
                <svg class="icon icon-18">
                    <use xlink:href="#icon-star-blue"></use>
                </svg>
                <svg class="icon icon-18">
                    <use xlink:href="#icon-star-blue"></use>
                </svg>
                <svg class="icon icon-18">
                    <use xlink:href="#icon-star-blue"></use>
                </svg>
                <svg class="icon icon-18">
                    <use xlink:href="#icon-star-blue"></use>
                </svg>
                <svg class="icon icon-18">
                    <use xlink:href="#icon-star"></use>
                </svg>
            </div>
            <div class="finish">已完成</div>
        </div> 
    </div>
</body>
<script src="/js/index.js"></script>

</html>
