<!DOCTYPE html>
<html>

<head>
    <title>
        Express
    </title>
</head>
<link rel="stylesheet" href="/css/index.css">
<style>
  [v-cloak] {
  display: none;
}
</style>

<body>
    <div id="app" @click="closeDropDown($event)" v-cloak>
        <header>
            <div class="header">
                <div class="title">Daskys
                    <span>在线便签</span>
                </div>
                <ul>
                    <li :class="{active:nowRank === 'all'}" @click="getAllNoteLists()">全部</li>
                    <li :class="{active:nowRank === 'haveDone'}" @click="getNoteDoneLists()">已完成</li>
                    <li :class="{active:nowRank === 'sort'}" class="last">
                        <span @click="getNoteSort()">{{sortRank.direc==='+'?'正序':'反序'}}</span>
                        <div @click="showDropDown()" class="odd"></div>
                        <div v-if="isShowDropDown" class="choose">
                            <div @click="setSortRankKind('time')" class="createTime" :class="{active:sortRank.kind === 'time'}">创建时间</div>
                            <div @click="setSortRankKind('star')" class="starNums" :class="{active:sortRank.kind === 'star'}">星级数</div>
                        </div>
                    </li>
                </ul>
                <% if(isLogin){ %>
                    <div class="users">
                        <img class="avatar" src="<%= user.avatar%>" alt="">
                        <span title="<%= user.username %>">
                            <%= user.username %>
                        </span>
                        <span class="line"> | </span>
                        <a class="logout" href="/sticky/auth/logout">注销</a>
                    </div>
                    <% }else{ %>
                        <div class="github">
                            <a href="/sticky/auth/github">
                                <svg class="icon icon-28" style="fill:white;">
                                    <use xlink:href="#icon-github"></use>
                                </svg>
                                <p>
                                    GitHub登陆
                                </p>
                            </a>
                        </div>
                        <% } %>
            </div>
        </header>
        <div id="content" v-if="noteLists" v-waterfall>
            <div class="note" v-for="(item,noteIndex) in noteLists" :style="{left:item.left+'px',top:item.top+'px'}" :class="{active:!isNoteMove,topside:item.isTop}">
                <div class="head-note" @mousedown="mousedown($event,item)" @mousemove="mousemove($event,item)" @mouseup="mouseup(item)">
                    <div class="time">{{item.createdAt.split('T')[0].replace(/\-/,'年').replace(/\-/,'月').replace(/$/,'日')}}</div>
                </div>
                <div class="close" @click="deleteNote(item.id)">
                    <svg class="icon icon-20">
                        <use xlink:href="#icon-close"></use>
                    </svg>
                </div>
                <div class="context">
                    <div v-if="!item.isEditing" @click="editNote(item)">
                        {{item.text}}
                    </div>
                    <textarea v-else v-focus @blur="switchNote(item)" @change="updateNote(item)" v-model="item.text" name="" id="" cols="30"
                        rows="10">
                       </textarea>
                </div>
                <div class="stars" :class="item.className">
                    <svg class="icon icon-18 icon-star" v-for="(_,starIndex) in starLength" @click="changeStar(noteIndex,starIndex)" viewBox="0 0 1024 1024"
                        width="100%" height="100%">
                        <path d="M956 398.5c-10.4-31-36.9-53.3-69.2-58.2L682.1 309l-91.6-195c-7.3-15.6-18.9-28.5-33.6-37.4-13.5-8.2-29.1-12.5-44.9-12.5-15.9 0-31.4 4.3-44.9 12.5-14.7 8.9-26.3 21.8-33.6 37.4l-91.6 195-204.7 31.3c-32.3 4.9-58.8 27.2-69.2 58.2-10.4 31-2.6 64.7 20.2 88.1l150.7 154.5-35.6 218c-4.1 25.2 3 50.7 19.5 70.1 16.6 19.5 40.7 30.7 66.2 30.7 14.6 0 29.1-3.8 42-10.9l181-100 181 100.1c12.9 7.1 27.4 10.9 42 10.9 25.5 0 49.6-11.2 66.2-30.7 16.5-19.4 23.6-44.9 19.5-70.1l-35.6-218 150.7-154.5c22.8-23.4 30.5-57.2 20.2-88.2z"></path>
                    </svg>
                </div>
                <div class="finish" :class="{done:item.finish?true:false}" @click="finish(item)">
                    <span v-if="item.finish">已完成</span>
                    <svg v-if="!item.finish" class="icon icon-check">
                        <use xlink:href="#icon-check"></use>
                    </svg>
                </div>
            </div>
        </div>
        <div class="bottom-icon">
            <!-- <div class="up">
                <svg class="icon icon-36">
                    <use xlink:href="#icon-up"></use>
                </svg>
            </div> -->
            <div class="add" @click="isAddNote = true">
                <svg class="icon icon-36">
                    <use xlink:href="#icon-add"></use>
                </svg>
            </div>
        </div>
        <div class="add-wrapper" v-if="isAddNote">
            <div class="add-model">
                <h3>添加新便签</h3>
                <div class="close-model" @click="closeModel()">
                    <svg class="icon icon-28">
                        <use xlink:href="#icon-close"></use>
                    </svg>
                </div>
                <div class="input-note">
                    <textarea v-model="addNotes.text" class="input-text" placeholder="输入内容"></textarea>
                </div>
                <div class="set-star">
                    <span>重要星级:</span>
                    <div class="stars" :class="'star'+addNotes.star">
                        <svg class="icon icon-18 icon-star" v-for="(_,starIndex) in starLength" viewBox="0 0 1024 1024" @click="addNotes.star = (starIndex+1)"
                            width="100%" height="100%">
                            <path d="M956 398.5c-10.4-31-36.9-53.3-69.2-58.2L682.1 309l-91.6-195c-7.3-15.6-18.9-28.5-33.6-37.4-13.5-8.2-29.1-12.5-44.9-12.5-15.9 0-31.4 4.3-44.9 12.5-14.7 8.9-26.3 21.8-33.6 37.4l-91.6 195-204.7 31.3c-32.3 4.9-58.8 27.2-69.2 58.2-10.4 31-2.6 64.7 20.2 88.1l150.7 154.5-35.6 218c-4.1 25.2 3 50.7 19.5 70.1 16.6 19.5 40.7 30.7 66.2 30.7 14.6 0 29.1-3.8 42-10.9l181-100 181 100.1c12.9 7.1 27.4 10.9 42 10.9 25.5 0 49.6-11.2 66.2-30.7 16.5-19.4 23.6-44.9 19.5-70.1l-35.6-218 150.7-154.5c22.8-23.4 30.5-57.2 20.2-88.2z"></path>
                        </svg>
                    </div>
                </div>
                <div class="add">
                    <button @click="addNote()">添加</button>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/js/index.js"></script>
</html>